PySide6>=6.5
smbus2>=0.4.3
pyyaml>=6.0
# Optional notebooks
matplotlib>=3.7
# Optional RealSense Python API (for notebooks)
pyrealsense2>=2.54.1
# Optional LLM
llama-cpp-python>=0.2.90; platform_machine == "aarch64"
# Optional pose model
ultralytics>=8.3.0
